/* Stylizacja pasków przewijania dla wewnętrznej zawartości */

.scroll-content {
    /* Wymagane dla Firefoxa */
    scrollbar-width: thin;
    scrollbar-color: var(--subtext-color) transparent;
    
    /* Musi zajmować całą dostępną przestrzeń, żeby scroll działał */
    height: 100%;
    overflow-y: auto;
    
    /* Opcjonalnie: lekki odstęp treści od paska */
    padding-right: 5px; 
}

/* Stylizacja dla Chrome, Edge, Safari */
.scroll-content::-webkit-scrollbar {
    width: 6px;
}

.scroll-content::-webkit-scrollbar-track {
    background: transparent; 
    margin-block: 0.2rem;
}

.scroll-content::-webkit-scrollbar-thumb {
    background-color: var(--subtext-color);
    border-radius: 10px;
    opacity: 0.5;
}

.scroll-content::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color);
}