#ScreenBlur {
    display: flex;
    position: fixed; /* Zmieniono z absolute na fixed, żeby przy scrollowaniu strony modal zawsze pokrywał cały ekran */

    top: 0%;
    left: 0%;

    justify-content: center;
    align-items: center;

    /* Format */
    background-color: #24242462;
    backdrop-filter: blur(8px);
    width: 100vw;
    height: 100vh;

    /* ZMIANA TUTAJ: Wcześniej było 1, teraz dajemy bardzo dużo, 
       żeby przykryło przyciski (które mają z-index ok. 10-20) */
    z-index: 1000;

    transition: background-color 1s ease-in-out;
    transition: backdrop-filter 1s ease-in-out;
}

#modalWindow {
    background-color: var(--main-color);
    width: 26rem;
    padding: 3rem;
    /* Dodajemy relatywną pozycję dla pewności */
    position: relative;
    z-index: 1001; /* Okno modala musi być wyżej niż jego tło */
}

input {
    padding: 10px;
    font-size: 16px;
}

button {
    display: flex;
    justify-content: center;
    padding: 0.6rem
}